@charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
main {
    width: 100vw;
    height: 100vh;
    position: relative;
}
body {
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to top,rgb(102, 28, 117),rgb(120, 120, 228));
    background-attachment: fixed;
}
header {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px;
}
header h1 {
    
    font-size: 2.4em;
    color: white;
}
header p {
    color: rgba(255, 255, 255, 0.822);
}
input,button {
    outline: none;
    border: none;
}
.form {
    width: 50%;
    height: 1600px;
    margin: auto;
    border-right: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
    background-color: transparent;
  /* background-color: rgb(95, 31, 121); */
}
form > div > label {
    font-size: 1.2em;
}
.nome {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    padding: 3px;
}
#inome{
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    font-size: 1em;
    width: 60%;
    text-indent: 20px;
    background-color: transparent;
}
#inome:focus-within {
    background-color: white;
}
.email {
    width: 100%;
    height: 70px;
    margin-top: 20px;
    padding: 3px;   
}
#iemail{
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    font-size: 1em;
    width: 60%;
    text-indent: 20px;
    background-color: transparent;
}
#iemail:focus-within {
    background-color: white;
}
.idade {
    width: 100%;
    padding: 3px;
    height: 70px;
    margin-top: 20px;
}
#iage{
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    font-size: 1em;
    width: 60%; 
    text-indent: 20px;
    background-color: transparent;
}
#iage:focus-within {
    background-color: white;
}
.job {
    margin-top: 20px;
    padding: 3px;
    width: 100%;
    height: 70px;
}
#ijob {
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    font-size: 1em;
    width: 60%; 
    text-indent: 20px;
    background-color: transparent;
}
#ijob:focus-within {
    background-color: white;
}
.amigos {
    width: 100%;
    height: 70px;
    padding: 3px;
    margin-top: 20px;
}
.amigos > p {
    font-size: 1.2em;
}
.amigos > label {
    margin-left: 15px;
}
.ale {
    width: 100%;
    height: 70px;
    padding: 3px;
    margin-top: 20px;
}
.ale > p {
    font-size: 1.2em;
}
#recurso {
    border: 1px solid black;
    padding: 3px;
    font-size: 1em;
    border-radius: 5px;
    width: 60%;
    text-indent: 20px;
    background-color: transparent;
    color: white;
}
#irecurso:focus-within {
    background-color: white;
}
.melhoria {
    height: 550px;
    margin-top: 20px;
    width: 100%;
    padding-left:10px;
}
.melhoria > p {
    font-size: 1.2em;
}
.melhoria > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.melhoria > ul > li {
    width: 350px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.melhoria > ul > li > label{
    font-size: 1.2em;
}
.sugestoes {
    width: 100%;
    height: 350px;
    padding: 3px;
    margin-top: 20px;
}
#imsg {
    display: block;
    width: 60%;
    margin-top: 15px;
    font-size: 1em;
    outline: none;
    border: 1px solid black;
    text-indent: 20px;
    background-color: transparent;
    border-radius: 5px;
}
#imsg:focus-within {
    background-color: white;
}

#send {
    display: block;
    width: 50%;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
    outline: none;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 1.4em;
    background-color: transparent;
}
#send:hover{
    background-color: rgb(49, 28, 58);
    color: white;
    border: 1px solid white;
    transition: border 1s;
}

.nome > label {
    color: white;
}
.email > label {
    color: white;
}
.idade > label {
    color: white;
}
.job > label {
    color: white;
}
.amigos > p {
    color: white;
}
.amigos > label {
    color: white;
}
.ale > p{
    color: white;
}
.melhoria > p {
    color: white;
}
.melhoria > ul > li > label {
    color: white;
}
.sugestoes > label {
    color: white;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}